body {
  margin:0px;
  padding:0px;
}

div.attention {
/*     margin:0px; */
/*     margin-top:0px!important; */
/*     width:inherit!important; */
    margin-left:-10px!important;
    margin-right:-10px!important;
    font-size:12pt;
    padding:5px!important;
/*    border-top:solid 5px black;
    border-bottom:solid 5px black;*/
    /*position:relative!important;*/
    }
    

div.attention2 {
/*     margin:0px; */
/*     margin-top:0px!important; */
/*     width:inherit!important; */
/*     margin-left:auto!important; */
/*     margin-right:auto!important; */
    margin-left:-10px!important;
    margin-right:-10px!important;
    font-size:12pt;
    padding:5px!important;
/*    border-top:solid 5px black;
    border-bottom:solid 5px black;*/
/*    position:relative!important;*/
    }
    
        
div.attention3 {
/*     margin:0px; */
/*     margin-top:0px!important; */
/*     width:inherit!important; */
/*     margin-left:auto!important; */
/*     margin-right:auto!important; */
    margin-left:-10px!important;
    margin-right:-10px!important;
    font-size:12pt;
    padding:5px!important;
/*    border-top:solid 5px black;
    border-bottom:solid 5px black;*/
/*    position:relative!important;*/
    }
    
        
    

div.body {
/*     width: 100% ; */
    margin:0px;
    margin-bottom:0px;
    font-size:14pt;
    padding:10px;
    min-width:0px;

    }

div.title{
    margin-top:0px;
    margin-bottom:30px;
}
    
div.main{ 
  margin-left: auto; 
/*  background-image: url(tools/divider2.gif);*/
/*  background-repeat:repeat-y; */
  border-width: 0px 0px 0px 0px;
  border-style: dashed;
  border-color: black;
  margin-bottom:20px; 
  padding:0px 0px;
/*   background:red; */
  width:78%;
}

  
div.letterhead {
    background: url(tools/logo_okan.png) no-repeat;
    background-size:60px;
    width:100%;
    text-align:right;
    font-size: 9pt;
    color: #104b8f;
    padding: 10px 0px;
    font-family: Helvetica, Arial, sans-serif;
}
div.titleyear{font-size:9pt;}
div.titlecentre{font-size:9pt;}
div.titleteacher{font-size:9pt;}

div.infobar {
/*   display:hidden; */
  width:20%;
  font-size:10px;
/*   background:green;   */
}
div.infobar div { 
/*     background:white; */
/*     border-width:1px;  */
/*     border-style:solid;  */
/*     border-color:black;  */
    padding:0px 0px 5px 0px;
    margin:0px 0px 10px 0px; 
/*     text-align:center; */
}
    
div.infobar div div {
    font-size:7pt;
/*     color:red; */
    margin: 0px 0px 5px 0px;

}

div.infobar div pre {
  font-size:6pt;}

div.infobar div table {
  font-size:7pt;}

  
  
div.page{ 
  width:100%; 
  margin-left:auto; 
/* background:cyan; */
 overflow-x:hidden;  
}

div.box{
  width:98%;
  min-height:0px;
  margin-left:0px;
/*   position:fixed; */
/*   margin-left:; */
}

.book{  min-height:0px !important;}
.notes{  min-height:0px !important;}
.homework{  min-height:0px !important;}
.marks{  min-height:0px !important;}
.exams{  min-height:0px !important;}
.blank {width:98% !important;}



div.heading {width:99%;}
    
div.withmargin {
  border-width: 0px 0px 0px 0px; 
  margin-left: 0px;
  padding: 10px;
}

address {    
    min-width:0px;
    padding: 10px 0px;
    text-align:center;
    display:block;
    margin-bottom:0px;
/*     background:yellow; */
}
address span {margin-bottom:10px;}
