

/* body {background:url(tools/leather.gif);} */
body {
    background:url(tools/IMG_2662wallpaper.jpg)  fixed;
/*     background:url(https://source.unsplash.com/1280x1024/daily)  fixed; */
/*     background:url(https://source.unsplash.com/daily)  fixed; */
/*     background-size:100%; */
    background-size:cover;
/*     background-repeat: repeat-y; */
    background-repeat: no-repeat;
    background-position: center;    
}

a:link, a:visited          {text-decoration : none; color : #000000; font-family:helvetica,arial,sans-serif;
                            font-weight:500;}
a:hover                    {text-decoration : none; color : #FF0000; font-family:helvetica,arial,sans-serif;
                            font-weight:500;}

body, td, div, .p          {font-family:helvetica,arial,sans-serif}

div.page                   {margin:0px auto 15px auto; /*padding:10px 0px; */
/* min-width:1200px;  */
                            border:0;
			    width:100%;
      overflow: auto;
/*   background:yellow; */
/* 			    height:2100px; */
}

div.page div {
  float:left;
  margin:10px;
/*  padding:15px 0px 20px 0px; */
  width:280px;
  min-height:280px;
  z-index:-1;
}

div.showbackground {
    position: absolute;
    top:0;
    right:0px;
    width:29px;
    height:0;*/
/*     justify:left; */
/*   width:100%;*/
   z-index: 1;
}

/*div.columna                {float:left; padding:0px; margin-left:0px; border:none; }
div.columnb                {float:left; margin-left:20px; padding:0px; border:none;}
div.columnc                {float:left; margin-left:20px; padding:0px; border:none;}
div.columnd                {margin-left:898px; padding:0px; border:none;}*/
.googlecalendar            {width:800px; height:800px; background-color:green;}

/*.columna div               {margin-bottom:20px; height:240px;}
/* .columna div:hover         {opacity:0.8;} */
/* .columnb div               {margin-bottom:20px; height:240px;} */
/* .columnb div:hover         {opacity:0.8;} */
/* .columnc div               {margin-bottom:20px; height:240px;} */
/* .columnc div:hover         {opacity:0.8;} */
/* .columnd div               {margin-bottom:20px; height:240px;} */
/* .columnc div:hover         {opacity:0.8;} */
div.double                 {height:580px;}
div.primary                {background:#ffff77; opacity:0.8; height:580px;}
.primary a, .primary ul    {color:#444400;}
.media                     {background:#ff8000; opacity:0.8;}
.media a, .media ul        {color:#662200;}
div.computer               {background:#40E0D0; opacity:0.8;}
.computer a, .computer ul  {color:#008070;}
div.academic               {background:#999999; opacity:0.8;}
.academic a, .academic ul  {color:#444444;}
.phone                     {background:#ff55cc; opacity:0.8;}
.phone a, .phone ul        {color:#660022;}
.system                    {background:#000000; opacity:0.8;}
.system a, .system ul      {color:#aaaa00;}
.website                   {background:#aa33ff; opacity:0.8;}
.website a, .website ul    {color:#550088;}
.ela                       {background:#FFB6C1; opacity:0.8;}
.ela a, .ela ul            {color:#C71585;}
div.tools                  {background:#FF2222; opacity:0.8; text-align:center; color:#FFaaaa;}
.toolsbox                  {background:#FFCCCC; border:0; color:black;}
.langtolangoption          {background:#FF2222; color:#FFCCCC; border:0;}
div.calendar               {background:#ffffff; padding:0px; opacity:0.8; height:580px;}
.calendar a, .calendar ul  {color:#FF5555;}
.money                     {background:#991111; opacity:0.8;}
.money a, .money ul        {color:#FF5555;}
.moneyoption               {background:#991111; color:#FFCCCC; border:0;}
.moneybox                  {background:#FFCCCC; border:0; color:black;}
.games                     {background:#44dd44; opacity:0.8;}
.games a, .games ul        {color:#005500;}
.temp                      {background:#008800; opacity:0.8;}
.temp a, .temp ul          {color:#33FF33;}
/*a.autumn                   {font-weight:bold;}*/
a.spring                   {font-weight:bold;}

div.shopping               {height:580px; padding:0px!important; 
/*     background:white; */
    }
div.shoppingleft           {background:#5555ee; opacity:0.8;  float:left!important; width:140px!important; margin:0px!important; height:580px;  postion:relative;}
div.shoppingright          {background:#7777ff; opacity:0.8;  float:left!important; width:140px!important; margin:0px!important; height:580px; }
div.airlines               {background:#9292ff; float:bottom!important; width:140px!important; margin:0px!important; min-height:80px!important;}
.shopping a, .shopping ul  {color:#000055;}
/* .airlines a, .airlines ul  {color:#000011!important;}  */
.weather                   {background:#1f567c; opacity:1;}
.weather a, .weather ul    {color:#603000;}
.misc                      {background:#AF7817; opacity:0.8;}
.misc a, .misc ul          {color:#603000;}
.photography               {background:#444444; opacity:0.8;}
.photography a, .photography ul {color:#cccccc;}
.new                       {background:#444444; opacity:0.8;}
.new a, .new ul            {color:#cccccc;}
.pair			 	  	   {height:580px; /*background:black;*/}
.pair div		           {margin:0px 0px 20px 0px !important;}
div.graphs                 {float:left; padding:0px; margin-left:0px;
                            width:900px; border:none; opacity:0.7;}
.leftgraph                 {margin-right:15px; margin-top:10px; 
                            margin-left:50px;}
.box {border:thin solid black; padding:0px;}
li {margin: 0px 25px 0px -15px; display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;justify-content: space-between;}
ul {margin-top:10px; margin-bottom:10px; list-style:circle outside;}
ul.small li {margin: 0px 0px 0px -15px !important;}
img {border:0;}

table.bottom {margin-top:100px;
/*     bottom: 2px; */
/*     width:20px!important; */
}



/* #####     IMAGE SHADOWS                                       ##### */
div.shadow {
  float: left;
  padding: 0 1px;
  background: #bfbfbf;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top: none;
  border-bottom: none;
  position: relative;
  margin-top:5px;
  margin-bottom:18px;
  margin-left:15px;
}

div.photo {
  float: left;
  padding: 0 1px;
  background: #bfbfbf;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  position: relative;
  margin:10px 0px;
}

img.shadow {
  padding: 5px 5px 9px 5px;
  background: #f7f7f7 url(tools/shad_bottom.png) repeat-x bottom left;
}

div.topleft {
  width: 2px;
  height: 4px;
  background: url(tools/shad_tlcorner.png) no-repeat top left;
  position: absolute;
  top: 0px;
  left: -1px;
  border:none;
}

div.topright {
  width: 2px;
  height: 4px;
  background: url(tools/shad_trcorner.png) no-repeat top right;
  position: absolute;
  top: 0px;
  right: -1px;
  border:none;
}

div.bottomleft {
  width: 4px;
  height: 4px;
  background: url(tools/shad_blcorner.png) no-repeat bottom left;
  position: absolute;
  bottom: 0px;
  left: -1px;
  border:none;
}

div.bottomright {
  width: 4px;
  height: 4px;
  background: url(tools/shad_brcorner.png) no-repeat bottom right;
  position: absolute;
  bottom: 0px;
  right: -1px;
  border:none;
}

img.icon {width: 40px; height: 40px; padding:3px; padding-top:5px;}
img.smallicon {width: 20px; height: 20px; padding:3px; padding-top:5px;}
